div#delete
  div(class="message")
    h3(class="highlight") Delete User Details
  div(id="search-delete")
     - var actiontype = 'delete'
     include ./../user/search.pug
  div#search-results-delete
