div#update
  div(class="message")
    h3(class="highlight") Update User Details
  div(id="search-update")
     - var actiontype = 'update'
     include ./../user/search.pug
  div#search-results-update